<!DOCTYPE html>
<html lang="en">

<head>

     {% include 'common/header.html' %}

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              {% include 'common/flashed_messages.html' %}
              <div class="row">
                  {% for n in range(1,max_number_of_sessions + 1) %}
                    <div class="col-md-6">
                          <div class="card shadow mb-4">
                            {% if n == 1 %}
                                {% set card_header = "Windows Workstation" %}
                                {% set card_header2 = "Windows Workstation" %}
                                {% set session_name_label = "Windows Workstation" %}
                                {% set launch_label = "Launch my Windows Workstation" %}

                                {% from 'desktop_instances_macros.html' import GetLinuxWorkstationInstanceTypes %}
                                {% set instance_types = GetLinuxWorkstationInstanceTypes() %}

                            {% elif n == 2 %}
                                {% set card_header = "Windows GPU Workstation" %}
                                {% set card_header2 = "Windows: GPU" %}
                                {% set session_name_label = "Visual Post-Processing/CAD" %}
                                {% set launch_label = "Launch my GPU Session" %}

                                {% from 'desktop_instances_macros.html' import GetLinuxGPUWorkstationInstanceTypes %}
                                {% set instance_types = GetLinuxGPUWorkstationInstanceTypes() %}

                            {% elif n == 3 %}
                                {% set card_header = "High Memory Windows Workstation" %}
                                {% set card_header2 = "Windows: High Memory" %}
                                {% set session_name_label = "High Memory - Interactive Meshing" %}
                                {% set launch_label = "Launch my High Memory Session" %}
                            
                                {% from 'desktop_instances_macros.html' import GetLinuxHighMemInstanceTypes %}
                                {% set instance_types = GetLinuxHighMemInstanceTypes() %}

                            {% elif n == 4 %}
                                {% set card_header = "Windows Session" %}
                                {% set card_header2 = "Windows Session" %}
                                {% set session_name_label = "Session Name" %}
                                {% set launch_label = "Launch my Session" %}

                                {% from 'desktop_instances_macros.html' import GetLinuxSessionInstanceTypes %}
                                {% set instance_types = GetLinuxSessionInstanceTypes(all_instances) %}
                            {% endif %}
                            {% include 'Windows_Workstation.html' %}                              
                          </div> <!-- card -->
                    </div> <!-- col md 6 -->
                {% endfor %}

              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    <script>
    $(document).ready(function() {
        // enable tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })})

    function manageSchedule(scheduleId, mode){
        if (mode === "custom")
        {
            $("#slider-"+scheduleId).css('display', 'block');
            var startValue = $("#slider-"+scheduleId).slider("values")[0]
            var endValue =  $("#slider-"+scheduleId).slider("values")[1]
            $("#slider-"+scheduleId).slider('values',0, startValue);
            $("#slider-"+scheduleId).slider('values',1, endValue);
            $("#schedule-"+scheduleId).val(startValue + "-" +endValue);
        }
        else
        {
             $("#slider-"+scheduleId).css('display', 'none');
             $("#schedule-"+scheduleId).val(mode);
        }
    }
    </script>
    {% include 'common/footer.html' %}

</body>
</html>
